body {
  background-color: #1c1c1c;
  font-family: Monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto; /* pushes footer to bottom */
}

ul {
  display: inline-block;
  text-align: left;
}
.content {
  color: #ffffff;
}
.gohome {
  color: #f7a7a7;
}
.purple {
  color: #c45194;
}

.image-container {
  text-align: center;
}

.responsive-image {
  max-width: 80%; 
  height: auto;
}

@media (max-width: 600px) {
  .responsive-image {
  max-width: 100%;
  }
}
